

.image-content {
	overflow: auto;
	background-position: center center;
	background-size: cover;

	// .image-overlay {
	// 	width: 100%;
	// 	display: block;
	// 	padding-top: 100%;
	// }
}

.row-2, .row-3{
	.image-content{
		width: 90%;
		height: 90%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}