.the-text{
	font-family: $futuraMediumStack;
	color: $darkblue;
	padding: 50px;
	p{
		line-height: 1.5em;
		padding-bottom: 30px;

	}
	.bullet-text{
		line-height: 1.5em;
		padding-left: 30px;
	}
	.icon-bullet{
		position: absolute;
		left: 40px;
		width: 30px;
		height: 30px;
	}
	a{
		text-decoration: none;
		color: #000;
		font-family: $futuraBoldStack;
		border-bottom: 1px dashed #000;
		transition: all 0.3s ease;
		&:hover{
			color: #fff;
			background-color: #000;
		}
	}
	h2{
		font-size: 24px;
		line-height: 2em;
	}
}

.row-1 .block-1 .the-text{
	columns: 2;
	column-gap: 50px;
}

//MEDIA QUERIES
@media only screen and (max-width: 870px) {
	.the-text{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}