
@font-face {
  font-family: 'FuturaStd-MediumOblique';
  src: url('FuturaStd-MediumOblique.eot?#iefix') format('embedded-opentype'),  url('FuturaStd-MediumOblique.otf')  format('opentype'),
	     url('FuturaStd-MediumOblique.woff') format('woff'), url('FuturaStd-MediumOblique.ttf')  format('truetype'), url('FuturaStd-MediumOblique.svg#FuturaStd-MediumOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
