// =====================================================================================
// COLOR IS AWESOME
// =====================================================================================

// BASIC COLOURS
$white: white;
$black: black;

// PALETTE
$palette1_1: #E8DDCB;
$palette1_2: #CDB380;
$palette1_3: #036564;
$palette1_4: #033649;
$palette1_5: #031634;

// PALETTE
$palette2_1: #4E4D4A;
$palette2_2: #353432;
$palette2_3: #94BA65;
$palette2_4: #2790B0;
$palette2_5: #2B4E72;

//BLUES
$darkblue: #0b3548;
$midblue: #2790af;
$grey: #d2d9dc;