
@font-face {
  font-family: 'FuturaStd-BoldOblique';
  src: url('FuturaStd-BoldOblique.eot?#iefix') format('embedded-opentype'),  url('FuturaStd-BoldOblique.otf')  format('opentype'),
	     url('FuturaStd-BoldOblique.woff') format('woff'), url('FuturaStd-BoldOblique.ttf')  format('truetype'), url('FuturaStd-BoldOblique.svg#FuturaStd-BoldOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
